ul {
    list-style: none;
}

/* Nav bar */
.header {
    background-color: #E7E7E7;
    position: sticky;
    width: 100%;
    top: 0;

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 60px;
    z-index: 0;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 20px;
}

.nav__link {
    color: rgba(52, 52, 52, 0.75);
    transition: color 0.3s ease;
}

.nav__link:hover {
    color: rgba(52, 52, 52, 1);
}

.hamburger {
    display: none;
}

.bar {
    height: 2px;
    width: 18px;
    background-color: #343434;
    margin: 3px 0;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translate(0) !important;
}


.hamburger--open .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #E7E7E7;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateY(-200%);
        z-index: -10;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}