* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p,
a {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #E7E7E7;
    color: #343434;
    margin: 0 auto;
}

/* Display screen */
@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* Tablet */
@media screen and (min-width: 768px)and (max-width: 1199px) {
    .wrapper {
        max-width: 768px;
        margin: 60px auto;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .wrapper {
        max-width: 100%;
        margin: 24px 20px;
    }
}

.centerAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 24px;
    height: 24px;
    border: solid;
}


/* Footer */
footer {
    border-top: 0.5px solid #343434;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}