* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

footer {
    border-top: 0.5px solid #343434;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/*<weight>: Use a value from 400 to 700
<uniquifier>: Use a unique and descriptive class name

.domine-<uniquifier> {
  font-family: "Domine", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/
h1,
h2,
h3 {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #E7E7E7;
    color: #343434;
    padding: 20px;
    margin: 0 auto;
}

/* Display screen */
@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1200px;
        margin: 100px auto;
        /* Optional, but good practice for clarity */
    }
}

/* Tablet */
@media screen and (min-width: 768px)and (max-width: 1199px) {
    .wrapper {
        max-width: 768px;
        margin: 60px auto;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .wrapper {
        max-width: 100%;
        margin: px 20px;
    }
}

.horizontal {
    display: flex;
    gap: 12px;
    align-items: center;
}

.centerAlign {
    display: flex;
    justify-content: center;
    /* Centers content horizontally */
    align-items: center;
    /* Centers content vertically */
    height: 100vh;
    /* Ensures the container takes up the full screen height */
    flex-direction: column;
    /* Stacks image and text vertically */
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.leftAlign {
    display: flex;
    justify-content: flex-end;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #343434;
    color: #E7E7E7;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.tag {
    background-color: #343434;
    color: #E7E7E7;
    padding: 8px 12px;
    border-radius: 9999px;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 24px;
    height: 24px;
    border: solid;
}

.topAlign {
    align-items: flex-start;
}

.bottomAlign {
    align-items: flex-end;
}

.scheduleDate {
    margin-bottom: 32px;
}

.scheduleList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 12px 0;
}

.scheduleBlock {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 0.5px solid #343434;
    border-top: 0.5px solid #343434;

}

/* .scheduleContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
} */